<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New message to Anastasiia</title>
  </head>
  <body
    style="
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 20px auto;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      "
    >
      <h1 style="color: #333; text-align: center">Hello!</h1>
      <p style="font-size: 16px; color: #555; text-align: center">
        Here is your message to my Portfolio website:
      </p>
      <div style="text-align: center">
        <p
          style="
            display: inline-block;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
          "
        >
          {{message}}
        </p>
      </div>
      <p style="font-size: 14px; color: #888; text-align: center">
        Thank you for your email, I will response you as soon as possible 😊
      </p>
      <p style="font-size: 14px; color: #888; text-align: center">
        This email was sent by {{email}}
      </p>
      <p style="font-size: 14px; color: #888; text-align: center">
        If you didn't request this, you can ignore this email
      </p>
      <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0" />
      <p style="font-size: 12px; color: #999; text-align: center">
        This email was sent automatically
      </p>
    </div>
  </body>
</html>
